.app-card-banner-1-top{
    z-index: 2;
}

.app-card-banner-1-bottom{
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    clip-path: inset(10px round 80px 20px 30px 10px);

    // margin-top: -120px;
    height: 150px;
}
