.single_product_page_heading{
    // margin-bottom: -200px !important;
    z-index: 2;
    position: absolute;
    top: 45px;
}
.single_product_page_img{
    width: 75%;
}
.single_product_page_sub_img{
    width: 15%;
}