*{
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(44, 44, 44);
    padding: 0;
    margin: 0;
}
body{
    background-color: $bg_color;
}
a{
    color: $color_dark_gray;
    text-decoration: none;
    &:hover{
        color:$color_gray;
    }
}

li{
    text-decoration: none;
    list-style:none ;
}