.app_raidus_40{
    border-radius: 40px;
    }
.app_raidus_20{
    border-radius: 20px;
}

.app_icon_15px{
    font-size: 15px;
}

.app_container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.app_white_container{
    background-color: white;
    border-radius: 40px;
}

.bg_cyan{
    background-color:  #1AC0C6;
}
